[submodule "ThirdParty/SlackTextViewController"]
	path = ThirdParty/SlackTextViewController
	url = https://github.com/Ivansss/SlackTextViewController.git
[submodule "ThirdParty/FTPopOverMenu"]
	path = ThirdParty/FTPopOverMenu
	url = https://github.com/Ivansss/FTPopOverMenu.git
[submodule "talk-ios"]
	path = talk-ios
	url = https://github.com/nextcloud/talk-ios.git
